code {
  background-color: #f0f0f0;
  padding: 0.2em;
  border-radius: 4px;
  font-family: monospace, "Noto Sans", "Noto Sans CJK JP", sans-serif;
}

pre > code {
  display: block;
  border: none;
  line-height: 1.6em;
  padding: 0.5em;
  overflow-x: auto;
}

img {
  max-width: 100%;
}

article {
  margin-bottom: 1rem;
  border-top: 1px solid #eee;
}

main article:first-child {
  border-top: none;
}

.article__title {
  margin-top: 0;
  padding-top: 0;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.7rem;
  color: #333;
}

.article__published_on {
  padding: 0;
  font-size: 0.75rem;
  color: #777;
}

.article__body {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  color: #545454;
  line-height: 1.5em;

  @media screen and (min-width: 768px) {
    line-height: 1.7rem;
  }
}

.article__footer__share_buttons {
  display: flex;
  width: 100%;
  margin-bottom: 2rem;
}

.article__footer__share_button_item {
  line-height: 0;
  vertical-align: top;
  margin-left: 6px;
}

.article__footer__share_button_item:first-child {
  margin-left: 0;
}
