$base_font_color: #333;
$base_color_1: #1D7FAF;
$base_color_2: #62A3C4;

:root {
  --mdc-typography-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Hiragino Sans', 'BIZ UDPGothic', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Sans Emoji";
  --mdc-typography-body2-line-height: 1.5rem;
  --mdc-theme-primary: #1D7FAF;
}

.mdc-top-app-bar__title a {
  color: white;
  &:hover {
    color: #CCCCCC;
  }
}

body {
  color: $base_font_color;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Hiragino Sans', 'BIZ UDPGothic', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Sans Emoji";
  margin: 0;
  line-height: 1.5rem;
}

img, embed, object, video {
  max-width: 100%;
}

footer {
  width: 100%;
  height: 20px;
}

a {
  overflow-wrap: break-word;
  color: $base_color_1;
  text-decoration: none;
  transition: 0.3s;
  &:hover {
    color: $base_color_2;
  }
}

.pagination {
  margin: 1rem;
  font-size: large;
}
