$base_font_color: #333;
$base_color_1: #1D7FAF;
$base_color_2: #62A3C4;

body {
  margin: 0;
  color: $base_font_color;
  font-family: "Noto Sans", "Noto Sans CJK JP", sans-serif;
}

img, embed, object, video {
  max-width: 100%;
}

main {
  margin: 0px auto;
  width: 90%;

  @media screen and (min-width: 768px) {
    width: 600px;
  }
  @media screen and (min-width: 1025px) {
    width: 800px;
  }
}


a {
  overflow-wrap: break-word;
  color: $base_color_1;
  text-decoration: none;
  transition: 0.3s;
  &:hover {
    color: $base_color_2;
  }
}

.site_header {
  z-index: 100;
  top: 0;
  position: sticky;
  height: 4rem;
  border-bottom: 1px solid #eee;
  background: #fcfcfc;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.site_header__title {
  margin: 0 auto 0;
  font-size: 1.2rem;
  text-decoration: none;
  color: #1a455a;

  @media screen and (min-width: 768px) {
    font-size: 1.5rem;
  }
}

footer {
  border-top: 1px solid #eee;

  ul {
    margin-bottom: 0;
    list-style: none;
    text-align: center;
    li {
      display: inline-block;
      padding-right: 2rem;
      .fa {
        font-size: 3rem;
      }
    }
  }
}

.pagination {
  font-size: 1.2rem;
  text-align: center;
}
