$base_font_color: #333;

html {
  color: $base_font_color;
  font-size: 18px;
}

a {
  color: rgb(59, 148, 217);
}

* {
  font-family: Arial, Roboto, "Droid Sans", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}

header {
  margin-top: 3rem;
  h1 {
    text-align: center;
    a {
      text-decoration: none;
      color: $base_font_color;
    }
  }
}

div.container {
  @include outer-container;
}

footer {
  border-top: 1px solid #eee;

  ul {
    padding-top: 2rem;
    margin-bottom: 0;
    list-style: none;
    text-align: center;
    li {
      display: inline-block;
      padding-right: 2rem;
      .fa {
        font-size: 2rem;
      }
    }
  }
}

article {
  border-top: 1px solid #eee;

  header {
    time {
      color: #777;
    }
  }
}

.pagination {
  text-align: center;
}

blockquote {
  background-color: #EEE;
  margin: 0;
  padding: 0.125rem 1rem 0.125rem 1.5rem;
  position: relative;
  border-radius: 3px;

  &::before {
    position: absolute;
    display: block;
    color: #ccc;
    content: open-quote;
    font-size: 4rem;
    top: -0.3em;
    left: 1rem
  }
}
