$base_font_color: #333;

html {
  color: $base_font_color;
  font-size: 62.5%;
}

a {
  color: rgb(59, 148, 217);
}

header {
  margin-top: 3rem;

  h1 {
    text-align: center;
    font-size: 3.2rem;

    a {
      text-decoration: none;
      color: $base_font_color;
    }
  }
}

div.container {
  @include outer-container;
}

footer {
  border-top: 1px solid #eee;

  ul {
    padding-top: 2rem;
    margin-bottom: 0;
    list-style: none;
    text-align: center;
    li {
      display: inline-block;
      padding-right: 2rem;
      .fa {
        font-size: 4rem;
      }
    }
  }
}

article {
  border-top: 1px solid #eee;

  header {
    time {
      color: #777;
      font-size: 1.6rem;
    }

    h2 {
      margin: 1rem auto auto;
      font-size: 2.4rem;
    }
  }

  .body {
    font-size: 1.8rem;
    line-height: 1.8;
    color: #545454;
  }

  img {
    max-width: 100%;
  }
}

.pagination {
  font-size: 1.6rem;
  text-align: center;
}

blockquote {
  background-color: #EEE;
  margin: 0;
  padding: 0.125rem 1rem 0.125rem 1.5rem;
  position: relative;
  border-radius: 3px;

  &::before {
    position: absolute;
    display: block;
    color: #ccc;
    content: open-quote;
    font-size: 4rem;
    top: -0.3em;
    left: 1rem
  }
}
