$base_font_color: #333;

* {
  color: $base_font_color;
  font-family: Arial, Roboto, "Droid Sans", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}

html {
  font-size: 100%;
}

header {
  margin-top: 3rem;
  h1 {
    text-align: center;
    a {
      text-decoration: none;
      color: $base_font_color;
    }
  }
}

footer {
  border-top: 1px solid #eee;

  ul {
    padding-top: 2rem;
    margin-bottom: 0;
    list-style: none;
    text-align: center;
    li {
      display: inline-block;
      padding-right: 2rem;
      .fa {
        font-size: 3rem;
      }
    }
  }
}

article {
  border-top: 1px solid #eee;

  header {
    time {
      color: #777;
    }
  }

  .body {
    margin-top: 4rem;
  }
}
